.firstname{
	border-color: red;
	background: black;
	font-size: 50px;

}
.surname{
	color: black;
	background: red;
	font-size: 50px;

}
.testbg{
	background: url("../images/test2.jpeg");
	padding-bottom: 200px;
}